:root {
  --background: #faf9f8;
  --black-text: #362c27;
  --gray-text: rgba(194, 153, 111, 1);
}
html,
body {
  font-family: "Marcellus", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background-color: var(--background);
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 176.8rem;
  width: 100%;
  margin-inline: auto;
}
